# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Compilados
*.class

# Logs
*.log

# IDEs
.idea/
*.iml
.vscode/

# Sistema
.DS_Store

# Variables de entorno
.env

# Otros
*.jar
*.war
*.ear

# Variables de entorno locales
.env
